# Development
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_API_URL=https://api-dev.domainkamu.com
NEXT_PUBLIC_RUNTIME_LOG_ENDPOINT=https://api-dev.domainkamu.com/observability/runtime-errors

# Staging
# NEXT_PUBLIC_APP_ENV=staging
# NEXT_PUBLIC_API_URL=https://api-staging.domainkamu.com
# NEXT_PUBLIC_RUNTIME_LOG_ENDPOINT=https://api-staging.domainkamu.com/observability/runtime-errors

# Production
# NEXT_PUBLIC_APP_ENV=production
# NEXT_PUBLIC_API_URL=https://api.domainkamu.com
# NEXT_PUBLIC_RUNTIME_LOG_ENDPOINT=https://api.domainkamu.com/observability/runtime-errors
