DB_NAME=boost
DB_USER=boost
DB_PASSWORD=boost
DB_SCHEMA=fastworks_springboot
DB_HOST=localhost
DB_PORT=5432
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_ENABLED=false
SECURITY_ENABLED=true
METHOD_SECURITY_ENABLED=true
JWT_SECRET=change-me-please-change-me-please-change-me
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin123
LOG_PRETTY=false
