NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=boost_springboot
DB_SCHEMA=fastworks

CACHE_ENABLED=true
REDIS_ENABLED=true
REDIS_URL=redis://localhost:6379
CACHE_TTL_MS=60000
