# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDEA/VS Code
.idea/
.project
.classpath
.settings/
.vscode/

# Logs
*.log

# OS files
.DS_Store

# Java
*.class
hs_err_pid*
replay_pid*

# Archives
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
